@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status" class="@statusCssClass">Current count: @currentCount</p>

<RadzenButton Text="加算" Click="@(() => IncrementCount(+1))" class="btn btn-primary"></RadzenButton>
<RadzenButton Text="減算" Click="@(() => IncrementCount(-1))" class="btn btn-primary"></RadzenButton>

@code {
    private int currentCount = 0;
    private string statusCssClass = "";
    private const string COLOR_RED = "color-red";

    private void IncrementCount(int diff)
    {
        currentCount += diff;
        UpdateStatusCssClass();
    }

    private void UpdateStatusCssClass()
    {
        statusCssClass = (currentCount >= 1 && currentCount <= 5) ? COLOR_RED : "";
    }
}
